.vscode
animelist/__pycache__
animelist/migrations/__pycache__
api/__pycache__
api/migrations/__pycache__
article/__pycache__
article/migrations/__pycache__
Env
db.sqlite3
desktop.ini
backup/sql/anime_indo-query.sql
myanimelist/.env
myanimelist/__pycache__
test/makeQueryUseCase.py
test/requestQueryUseCase.py
notes.txt
MariaDB.md
