{% extends "base.html" %}
{% load static %}
{% block query_anime %}
<style>
  #option-submit {
    border: none;
    border-radius: 5pt;
    height: 35px;
  }
</style>

<h1 class="text-center pb-5 pt-2">Daftar Anime di database</h1>

<!-- Query from database -->
{% for anime in Anime %}
<div class="card mb-3 shadow-sm" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4"><img class="img-fluid rounded-start" src="{{anime.poster_url}}" alt="{{anime.anime_title}}"></div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{anime.anime_title}}</h5>
        <p class="card-text text-justify">Tuliskan sesuatu disini biar tidak sepi</p>
        <div class="container">
          <p class="card-text">
            <small class="text-body-secondary">
              <img src="{% static 'img/star.png' %}" style="width: 20px; padding-right: 5px;">{{anime.anime_score}} | {{anime.airing_time}} | {{anime.studio}}
            </small>
          </p>
        </div>
        <button id="option-submit" class="btn btn-submit bg-dark text-white" type="submit">Tambah ke List</button>
        <button id="option-submit" class="btn btn-submit bg-dark text-white" type="submit">
          <a class="text-white" href="https://myanimelist.net/anime/{{anime.mal_id}}" target="_blank" style="text-decoration: none;">Lihat di MyAnimeList</a>
        </button>
        </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock query_anime %}